html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: auto;
        position: relative;
        overflow-x: hidden;

        @import "./header";
        @import "./main";
        @import "./footer";
        @import "./aside";
        @import "./popup";

        .bg {
            width: 100%;
            height: 100%;
            z-index: -999;
            position: absolute;

            &.img {
                background: url("../img/bg.gif")no-repeat top left;
                top: 0;
                left: 0;
            }

            &.decorate--01 {
                background: url("../img/decorate--01.png")no-repeat center;
                background-size: contain;
                width: 101px;
                height: 101px;
                top: 180px;
                right: 147px;
                animation: move__01 5s ease-in-out 0s infinite normal forwards;


                @keyframes move__01 {
                    0% {
                        transform: rotate(0) translate(0) scale(1);
                    }

                    16% {
                        transform: rotate(50deg) translate(250px) rotate(-50deg) scale(1);
                    }

                    32% {
                        transform: rotate(80deg) translate(260px) rotate(-80deg) scale(1);
                    }

                    48% {
                        transform: rotate(110deg) translate(260px) rotate(-110deg) scale(1);
                    }

                    64% {
                        transform: rotate(140deg) translate(260px) rotate(-140deg) scale(1);
                    }

                    80% {
                        transform: rotate(160deg) translate(260px) rotate(-160deg) scale(1);
                    }

                    96% {
                        transform: rotate(180deg) translate(0px) rotate(-180deg) scale(1);
                    }

                    100% {
                        transform: rotate(0) ;
                    }
                }
            }

            &.decorate--02 {
                background: url("../img/decorate--02.png")no-repeat center;
                background-size: contain;
                width: 97px;
                height: 97px;
                top: 395px;
                right: -2px;
                animation: move__02 5s ease-in-out 0s infinite normal none;

                @keyframes move__02 {
                    0% {
                        transform: rotate(0) translate(0) scale(1);
                    }

                    16% {
                        transform: rotate(170deg) translate(280px) rotate(-170deg);
                    }

                    32% {
                        transform: rotate(210deg) translate(280px) rotate(-210deg);
                    }

                    48% {
                        transform: rotate(220deg) translate(280px) rotate(-220deg);
                    }

                    64% {
                        transform: rotate(250deg) translate(200px) rotate(-250deg);
                    }

                    80% {
                        transform: rotate(250deg) translate(190px) rotate(-250deg);
                    }

                    86% {
                        transform: rotate(280deg) translate(0px) rotate(-280deg);
                    }

                    100% {
                        transform: rotate(0) ;
                    }
                }
            }

            &.decorate--03 {
                background: url("../img/decorate--03.png")no-repeat center;
                background-size: contain;
                width: 153px;
                height: 156px;
                top: 430px;
                right: 251px;
                animation: move__03 5s ease-in-out 0s infinite normal forwards;


                @keyframes move__03 {
                    0% {
                        transform: rotate(0) translate(0) scale(1);
                    }

                    16% {
                        transform: rotate(90deg) translate(-250px) rotate(-90deg);
                    }

                    32% {
                        transform: rotate(120deg) translate(-290px) rotate(-120deg);
                    }

                    48% {
                        transform: rotate(150deg) translate(-290px) rotate(-150deg);
                    }

                    64% {
                        transform: rotate(180deg) translate(-230px) rotate(-180deg);
                    }

                    80% {
                        transform: rotate(210deg) translate(-100px) rotate(-210deg);
                    }

                    86% {
                        transform: rotate(210deg) translate(-0px) rotate(-210deg);
                    }

                    100% {
                        transform: rotate(0);
                    }
                }
            }

            &.decorate--04 {
                background: url("../img/decorate--04.png")no-repeat center;
                background-size: contain;
                width: 123px;
                height: 123px;
                top: 4px;
                left: 307px;
                animation: move__04 4s ease-in-out 0s infinite reverse forwards;

                @keyframes move__04 {
                    0% {
                        transform: rotate(0) translate(0) scale(1);
                    }

                    50% {
                        transform: rotate(120deg) translateX(450px) rotate(-120deg) scale(1);
                    }

                    100% {
                        transform: rotate(180deg) translateX(0px) rotate(-180deg) scale(1);
                    }
                }
            }

            &.decorate--05 {
                background: url("../img/decorate--05.png")no-repeat center;
                background-size: contain;
                width: 137px;
                height: 133px;
                top: 410px;
                left: 139px;
                animation: move__05 4s ease-in-out 0s infinite reverse forwards;

                @keyframes move__05 {
                    0% {
                        transform: rotate(0) translate(0);
                    }

                    50% {
                        transform: rotate(90deg) translateX(-400px) rotate(-90deg) scale(1);
                    }

                    100% {
                        transform: rotate(180deg) translateX(0px) rotate(-180deg) scale(1);
                    }
                }
            }

            &.decorate--06 {
                background: url("../img/decorate--06.png")no-repeat center;
                background-size: contain;
                width: 100px;
                height: 102px;
                top: 191px;
                left: 19px;
                animation: move__06 4s ease-in-out 0s infinite reverse forwards;

                @keyframes move__06 {
                    0% {
                        transform: rotate(0) translate(0);
                    }

                    50% {
                        transform: rotate(210deg) translateX(-300px) rotate(-210deg) scale(1);
                    }

                    100% {
                        transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(1);
                    }
                }
            }
        }
    }
}